<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">
                Bienvenido a <span class="blue">Blue App</span>
            </h1>
            <h3 class="mb-5">
                <em class="description_text">Almacenamiento de empresas</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                ¡Comencemos!
            </a>
        </div>
    </header>

</main>